<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">

    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let network">
          <p class="text-truncate font-weight-600">{{network.id}}</p>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let network">
            <p class="text-truncate font-weight-600">{{network.name}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="no_nodes">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Nodes</mat-header-cell>
        <mat-cell *matCellDef="let network" fxHide fxShow.gt-sm>
            <p class="text-truncate">
              {{network.no_nodes}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="no_authorities">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Authorities</mat-header-cell>
        <mat-cell *matCellDef="let network" fxHide fxShow.gt-md>
            <p class="text-truncate">
              {{network.no_authorities}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="created_by">
      <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Created By</mat-header-cell>
      <mat-cell *matCellDef="let network" fxHide fxShow.gt-md>
          <p class="text-truncate">
            {{network.created_by}}
          </p>
      </mat-cell>
  </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let network; columns: displayedColumns;"
             class="network"
             (click)="editNetwork(network)"
             [ngClass]="{'mat-accent-50-bg':checkboxes[network.id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


