<div class="template-form">
  <div class="primal-info">
    <!-- <mat-select placeholder="Favorite food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
      </mat-select> -->
    Creating ** the token is called **
    the symbol is** the maximum supply is **
    has ** decimal
    <mat-form-field fxFlex>
      <input name="symbol" formControlName="symbol" placeholder="Symbol" matInput required>
  </mat-form-field>
  </div>
  <div class="detail-info">
    <div class="left-column">
      Editing in
      <div class="grey-bar">
      </div>
      <div class="complete-info">
        Is transferable if
      </div>
    </div>
    <div class="right-column">
      The token use case
    </div>
  </div>
</div>