.template-form{
    width: 500px;
}
.primal-info{
    border: 1px solid gray;
}
.detail-info{
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
}
.left-column{
    width: 70%;
}
.right-column{
    border-left:1px solid gray;
    width: 30%;
    background-color: palegoldenrod;
}
.grey-bar{
    background-color: gray;
    padding: 4px;
}
.complete-info{
    border: 1px solid gray;
    width: 85%;
    margin: 5px;
}